$text-1: #1c255c;
$text-2: #ffffff81;
$text-3: #1a235b7d;
$text-4: #3a8d3c;
$bg-cont: #F4F7FE;
$bg-side: #C9D9FF;

body {
  overflow: hidden;
  padding: 0%;
  margin: 0%;
  background-color: rgba(255, 255, 255, 0.6);

  input {
    all: unset;
  }

  /* barra da esquerda */
  .sidebar {
    position: fixed;
    width: 400px;
    height:100%;
    padding: 5px 10px 5px 10px;
    background-color: $bg-side;
    
    /* texto 'encontrar dev... */
    h1 {
      color: $text-1;
      left: 25px;
      top: 45px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;


    }
    /* caixa de pesquisa */
    .searchbox {
      height: 60px;
      width: 350px;
      margin: auto;
      top: 73px;
      padding: 0;
      border-radius: 8px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: left;
      display: flex;
      align-items: center;
      padding: 0px 15px 0px 15px;

      /* texto da caixa de pesquisa */
      .searchtext {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.5);
        margin:auto;
      }

      /* botão de buscar */
      .searchbutton {
        cursor: pointer;
        box-sizing: border-box;
        width: 75px;
        height: 33px;
        background: $text-1;
        border: 1px solid $text-1;
        border-radius: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #fff;

      }
    
    }

    .loading {
      margin-left: auto;
      margin-right: auto;
      border: dashed;
      width: 100px;
      height: 100px;
      position: relative;
      background-color: palevioletred;
    }

    .usernamelist {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }
  }
  .MainContainer {
    background-color: var($bg-cont);
    position: relative;
    left: 450px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    padding: 35px;
  }
}